.container {
    /* background-color: #1a1b1ad6; */
    border-color: blue;
    border-radius: 10px;
    width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    
    margin: 20px;
    background: #1975caea;
    background-position: top;
    position: relative;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s;
  }

  .boton {
    font-size: x-large;
    color: rgb(255, 255, 255);
  }
  .botonRed {
    font-size: x-large;
    color: rgb(240, 81, 192);
  }  
  .divBotones {
    justify-content: space-around;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .container:hover {
    opacity: 0.8;
    transform: scale(1.2);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
   
  .container .imgCard {
    border-radius: 50px;
    width: 100%;
  }
  
  .container .containertitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .container .containertitles h2 {
    font-family: "Wendy One", sans-serif; 
    color: white;
    margin: 0;
    font-size: 16px;
  }

  .container .containertitles .name {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 15px 0 15px 0;
  }
  .container .containertitles .name:hover {
    color: rgb(94, 221, 158);
    
  }
  
 
  @media screen and (max-width: 450px) {
    .container {
      background-color: transparent;
      width: 150px;
    } 
  
  }
  