/* Estilos para el contenedor principal de la barra de búsqueda */
.divBar {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para el botón de búsqueda aleatoria */
  .divRandom {
    margin-right: 10px;
  }
  
  /* Estilos para el input de búsqueda */
  .inputBar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
  }
  
  /* Estilos para el botón "Agregar" */
  .botonBar {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botonBar:hover {
    background-color: #2980b9;
  }
  
  /* Estilos para el ícono de búsqueda */
  .divRandom {
    cursor: pointer;
  }
  
  .divRandom:hover {
    transform: scale(2);
  }
  