.divNav {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #3498db3f;
    width: 100%;
  }
   
.divNav button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
  
.divNav button:hover {
    background-color: #2980b9;
    transform: scale(1.2);
}
  
.divNav button:active {
    transform: scale(1);
}
  
.divNav .exit-button {
    background-color: transparent;
    padding: 8px;
    border-radius: 50%;
}
  
.divNav .exit-button:hover {
    background-color: #c0392b;
}
  
 
.searchBar {
    background-color: transparent;
    display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: space-around;
    margin: auto;
    /* align-content: center; */
    /* border: solid red; */
}
  
 